body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('./fonts/MS_Sans_Serif_8pt.ttf') format('truetype');
}

@font-face {
  font-family: 'MS Sans Serif Bold';
  src: url('./fonts/MS_Sans_Serif_8pt_bold.ttf') format('truetype');
}